node_modules/
.env
*.log
dist/
build/
.next/
.DS_Store
coverage/
.git/
# Ignore lock file, but keep package.json tracked
package-lock.json
yarn.lock
# Uncomment below if you want to ignore all json except package.json
#*.json
# !package.json
