node_modules/
.env
.env.*
*.log
npm-debug.log*
dist/
build/
.next/
.DS_Store
coverage/
.pm2/
# Ignore lock file, but keep package.json tracked
package-lock.json
yarn.lock
# Uncomment below if you want to ignore all json except package.json
#*.json
# !package.json
